<form action="/login" method="post">
        <p>Registrar nuevo usuario</p>
        <input type="text" placeholder="Username" name="nombre">
        <input type="password" placeholder="Password" name="contraseña">
        <input type="number" placeholder="Cellphone" name="telefono">
        <input hidden type="number" value="0" name="cantidad">
        <input type="submit">
</form>
<br>
<form action="/login" method="GET">
    <input type="submit" value="Iniciar Sesión">
</form>

